table {
	border-width:0;
	border-spacing:0;
	border-collapse:collapse;
}
.navBar {
	border-style:solid;
	border-width:0 1px 0;
}
.navBarEnd {
	border-style:solid;
	border-width:0;
}
#tools, #dev {
	visibility:hidden;
	position:absolute;
	top:153px;
	left:50%;
}
dd {
	text-indent:-10px;
}
dd.in1 {
	margin-left:80px;
	text-indent:0;
	font-style:italic;
}
